* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body {
    background-color: rgb(70, 209, 209);

}


nav#cabecalho {
    background-color: rgb(0, 0, 0);
    display: inline-flex;
    width: 100%;
    padding: 15px;
    color: azure;
    align-items: center;
    justify-content: space-between;
}

h1 {
    display: inline-block;
    padding-right: 570px;
    font-size: 25px;
}
ul#menu {
    display: block;
    text-align: right;
    padding-right: 40px;
}

#menu li {
    display: inline-flex;
    padding: 10px;
}